//CONTAINER FLUID
.container-fluid {

  //header title
  .top-title {
    padding: 0;
    color: #020217;
  }

  .header-title {
    font-size: @default-size*2.2;
    color: white;
    text-shadow: 1px 1px 1px lightgray;
  }

  .navbar {
    &:extend(.nav-bar-cms);
  }

  //main tag
  .cms-content {

    margin-top: 5em;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    box-shadow: 0 0 0 2px darkgray;

    //user Info Tag
    .user-info-wrapper {
      .user-info-wrapper;

    }
  }

}

