//CONTAINER FLUID
.container-fluid {

  //header title
  .top-title {
    background : #dadada;
    box-shadow : inset 0px -3px 3px 0px white;
    padding    : 15px;
    color      : #020217;
  }

  .header-dashboard-title {
    font-size : @default-size*2.2;
  }

  //nav bar wrapper
  .cms-navigation {
    padding-top      : @default-size !important;
    background-color : #4b929e;
    box-shadow       : 0 2.4px 3.9px 2.9px #666666;
    border-radius    : 0;
    border           : 0 #e7e7e7;
    border-top       : solid rgb(0, 0, 0);
    max-height       : 90px;

    &.navbar {
      padding          : @default-size 0;
      font-size        : @default-size*1.5;
      border-radius    : 0;
      background-color : black;
      border-bottom    : 1px solid #8c8c8c;

      //nav bar list element
      .nav-bar-crm-li {

        //nav-bar href
        .nav-link {
          color           : #b9b9b9;
          text-decoration : none;
          letter-spacing  : 1px;
          transition      : all 0.3s;

          //on hover
          &:hover {
            color       : #ffffff;
            zoom        : 1.03;
            font-weight : bold;
          }
        }
      }
    }
  }


  //main tag
  .cms-content {

    //info
    .user-info-wrapper {

      &.container {
        height        : 200px;
        width         : 300px;
        border        : 1px solid gray;
        position      : absolute;
        right         : @default-size;
        top           : 0;
        background    : white;
        border-radius : @default-size/4*3;
        box-shadow    : inset 1px 1px @default-size/2 2px darkgray;

        .user-info {
          header {
          }
          .content {
            padding-left   : @default-size/2*5;
            letter-spacing : 1px;

            .log-out{
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

