@container-width-form: 600px;

body {

  .cms-header-forgot-pass {
    &.container {
      width : @container-width-form;
    }
  }

  .cms-forgot-password-wrapper {
    &.container {
      width : @container-width-form;
    }

    .form-group {

      //SUBMIT BUTTON
      .submit-btn {
        width : 100%;
      }
    }
    .placeholder-style();
  }
}




