body {
  .page-management-page {
    .cms-content {
      .container {
        .row {
          .jumbotron {
            padding: 40px;
            border: 1px solid #30aeae;
            box-shadow: 1px 3px 3px 3px #c5c5c5;
          }
        }
      }
    }
  }
}
