body {

  .container-fluid {

    &.register-page {

      .cms-register-header-wrapper {
        color     : white;
        font-size : @default-size*1.5;

        @media (min-width : 640px) {
          &.container {
            margin-top : @default-size*1.5;
          }
        }
      }

      .cms-register-wrapper {
        width         : @container-width-form*1.5;
        border-radius : @default-size/4;
        padding       : @default-size @default-size*2;
        margin-top    : @default-size;

        &.container {
          //width       : @container-width-form;
          padding-top : @default-size*2;
        }

        .register-btn {
          width     : 100%;
          font-size : @default-size/2*3;
          padding   : @default-size/2;
          border-radius:@default-size/4;
        }

        label {
          font-size : @default-size;
        }

        .form-group {
          &:last-of-type {
            //margin-top : @default-size*2;
          }

          .form-control {
            height    : @default-size*2.5;
            font-size : @default-size;
          }
        }
      }
    }
  }

}