@locations: left, right, top, bottom;

//ASSIGN DEFAULT PADDING TO ALL SIDES
.with-padding(@elem:1,@until,@locations) when (@elem<@until) {
  @pos: extract(@locations, @elem);

  .padding-@{pos} {
    padding-@{pos}: @default-size;
  }

  .with-padding(@elem+1, @until, @locations)
}

//ASSIGN NO-PADDING TO LEFT AND RIGHT
.without-padding(@counter,@padding) when (@counter>0) {
  @name: extract(@padding, @counter);
  .no-padding-@{name} {
    padding-@{name}: 0;
  }
  .without-padding((@counter)-1, @padding);
}

//WHEN NO PADDING FOR ALL SIDES
.without-padding(@counter,@padding) when (@counter<=0) {
  .no-padding {
    padding: 0;
  }
}

//PLACE HOLDER CREATION
.placeholder-style(@text-align:center,@text-transform:capitalize) {
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    text-align: @text-align;
    text-transform: @text-transform;
  }
}

.without-padding(2, @locations);
.with-padding(1, 5, @locations);

.margin(@pos,@times) when (@times>0) {
  @position: extract(@pos, @times);

  .margin-@{position} {
    margin-@{position}: @default-size;
  }
  .margin(@pos, @times - 1);
}

@pos: left, right, top, bottom;
.margin(@pos, 4);

//box form
.box-form {
  border: 1px solid gray;
  border-radius: @default-size/4;
  padding: @default-size @default-size*2;
  margin-top: @default-size;
  background: #eeeeee;
  box-shadow: inset 0 0 11px 3px gray;
}

.full-width {
  width: 100%;
}

.shadow {
  text-shadow: 1px 1px 1px darkgray;
}

//nav-bar-main (class .nav-bar-wrapper).
@import "../_pages/_partial/nav-bar-main";

//nav-bar-cms (class .nav-bar-cms).
@import "../_pages/_partial/nav-bar-cms";

//user-info
.user-info-wrapper {
  @import "../_pages/_partial/account-info";
}

.defaultFontStyle {
  color: white;
  text-shadow: 1px 1px 1px gray;
}
